
<strong>MENU</strong>
<ul>
    <li><%= link_to "Cadastro de Moedas", coins_path %></li>
    <!-- <li><a href="/coins">Cadastro de Moedas ////  html</a></li> -->
    <li><%= link_to "Tipo de mineração", mining_types_path %></li>
    


    
</ul>